{{> partials/header.hbs}}

<div class="content">
    {{> partials/navs}}
    <section class="content-right">
        <div class="wrapper">
            <div class="container-fluid">
                <a href="#" class="btn btn-warning delete">删除</a>
                <table class="table table-hover">
                    <thead>
                        <tr class="">
                            <th class="col-sm-1"></th>
                            <th class="col-sm-4">标题</th>
                            <th class="col-sm-1">标签</th>
                            <th class="col-sm-2">访问数</th>
                            <th class="col-sm-2">时间</th>
                            <th class="col-sm-2">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each list}}
                        <tr>
                            <td><input type="checkbox" name="" value="{{this.id}}"></td>
                            <td>{{this.title}}</td>
                            <td>{{this.category.title}}</td>
                            <td>{{this.visits}}</td>
                            <td>{{this.date}}</td>
                            <td><a href="javacript:;" class="edit" data-id="{{this.id}}">编辑</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
