header.site-header(role="header")
    .hgroup
        h1.site-title
            a(href="/") #{user.siteTitle} 
        h2.sub-title #{user.subTitle}
    nav.navigation
        .nav-menu
            ul
                -for(let page of user.pages || []){
                    li 
                        a(href=page.href) #{page.title}
                -}
.sidebar
    .categories.widget
        h3.widget-title #{_T("categories")}
        ul
            -for(let link of categories || []){
                li
                    a(href='/categories/' + link.id) #{link.title}(#{link.count})
            -}
                
    .recent-posts.widget
        
        h3.widget-title #{_T("recent posts")}
        ul
            -for(let link of latests || []){
                li
                    a(href='/details/' + link.id) #{link.title}
            -}
        
    .recent-comments.widget
        h3.widget-title #{_T("recent comments")}
        ul
            -for(let link of user.recentComments || []){
                li
                    span #{link.sUser} #{_T("post at")}《
                    a.article(href=link.href) #{link.title}
                    span 》
            -}
