doctype html

html
    head
        title #{setting.sitename}--#{setting.subname} | #{_T('home')}
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel='stylesheet' href="/3rd/bootstrap/dist/css/bootstrap.min.css")
        link(rel='stylesheet' href="/3rd/font-awesome/css/font-awesome.min.css")
        link(href="/images/favicon.png" rel="SHORTCUT ICON")

        block style
        
    body
        block body
        
        div(style="display:none")!=statistics
            
    script(src="/3rd/jquery/dist/jquery.min.js")
    script(src="/3rd/bootstrap/dist/js/bootstrap.min.js")
    
