extends ../home.pug

block style
    
    link(rel="stylesheet" href="/styles/theme/simple.css")

block body
    #app
        .container
            .row
                .secondary.col-lg-3
                    header.site-header(role="header")
                        .hgroup
                            h1.site-title
                                a(href="/") #{user.siteTitle} 
                            h2.sub-title #{user.subTitle}
                        nav.navigation
                            .nav-menu
                                ul
                                    -for(let page of user.pages || []){
                                        li 
                                            a(href=page.href) #{page.title}
                                    -}
                    .sidebar
                        .categories.widget
                            h3.widget-title #{_T("categories")}
                            ul
                                -for(let link of user.categories || []){
                                    li
                                        a(href=link.href) #{link.title}
                                -}
                                    
                        .recent-posts.widget
                            
                            h3.widget-title #{_T("recent posts")}
                            ul
                                -for(let link of user.recentPosts || []){
                                    li
                                        a(href=link.href) #{link.title}
                                -}
                            
                        .recent-comments.widget
                            h3.widget-title #{_T("recent comments")}
                            ul
                                -for(let link of user.recentComments || []){
                                    li
                                        span #{link.sUser} #{_T("post at")}《
                                        a.article(href=link.href) #{link.title}
                                        span 》
                                -}
                        
                .primary.col-lg-9
                    .main
                        -for(let item of articles || []){
                            article.article
                                header
                                    h2 #{item.title}
                                    .info
                                        .date
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            - {
                                            -    let date = new Date(item.time)
                                            -    let year = date.getFullYear()
                                            -    let month = date.getMonth()
                                            -    let day = date.getDate()
                                                time #{`${year + _T("year") + month + _T("month") + day + _T("day")}`}
                                            - }
                                        .comments
                                            i(class="fa fa-comment-o" aria-hidden="true")
                                            .num #{item.comments}#{_T("comments")}

                                            
                        -}
                    
                    
