extends ../home.pug

block style
    link(rel="stylesheet" href="/styles/theme/jianshu.css")


block body
    #app
        header
            .logo 
                .text FIZZ
            .pages
                a(href="/") 首页
            .right
                a(href="/admin/home") 写文章
        .container
            .carous
                .main-baner
                    a(href=banners[0] && banners[0].url || "#")
                        div(style=`background-image:url(${banners[0] && banners[0].image})`) 
                .side-baner
                    .item
                        a(href=banners[0] && banners[0].url || "#")
                            div(style=`background-image:url(${banners[1] && banners[1].image})`) 
                    .item
                        a(href=banners[0] && banners[0].url || "#")
                            div(style=`background-image:url(${banners[2] && banners[2].image})`) 
                            
                    
            .main-content
                .left-wrapper
                    .tags
                        -for(let item of categories || []){
                            a.tag(href="/tag/" + item.title) 
                                img(src=item.icon)
                                .text #{item.title}
                        -}
                    .list
                        -for(let item of articles || []){
                            .item
                                .left
                                    .info
                                        a(href="#")
                                            img(src= (item.category && item.category.icon) || "//upload.jianshu.io/collections/images/502001/6972466d834ce8518e130bf2169da722.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195")
                                        .text #{item.category && item.category.title}
                                        .date
                                            - {
                                            -    let date = new Date(item.date)
                                            -    let year = date.getFullYear()
                                            -    let month = date.getMonth() + 1
                                            -    let day = date.getDate()
                                                time #{`${year + _T("year") + month + _T("month") + day + _T("day")}`}
                                            - }
                                    a.title(href="/details/" + item._id)!=item.title
                                    section.content!=item.body
                                    .detail
                                        .views 321
                                        .comments 32
                                .right        
                                    img(src=item.poster || "https://i.loli.net/2017/08/05/5985d19e81154.jpg")
                        -}
                
                
                .right-site
                    .latest
                        .title 最近文章
                        
                        .lists
                            -for(let item of latests || []){
                                .item
                                    img(src=item.poster || "https://i.loli.net/2017/08/05/5985d19e81154.jpg")
                                    a.title(href="/details/" + item.id) #{item.title}
                            -}
                        
                        
